/* import Google font */ 

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Jost:wght@200&display=swap');

/* clear default formatting */ 

* {
    margin: 0; 
    padding: 0;
    border: none;
}

/* body style */ 

body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #2C2A2E; 
    background-color: #BCAC94;
}

/* headings and logo style */ 

h1, h2 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}

#logo {
    float: left;
    color: #2C2A2E;
    background-color: #BCAC94;
    margin-left: 20px;
    font-size: 250%;
    line-height: 75px;
}

#logo a {
    text-decoration: none;
}

/* navigation styles */ 

#menu-container {
    clear: left; 
    height: 40px;
    background-color: #2C2A2E;
    text-align: center;
}

#menu {
    font-size: 120%;
    width: 80%;
    margin: auto;
}

#menu li {
    list-style-type: none;
    display: inline;
    padding-right: 5%;
}

#menu a {
    text-decoration: none; 
    color: #BCAC94;
}

#menu a:hover {
    border-bottom: 1px dashed #8B7974;
}

.active {
    border-bottom: 1px solid #8B7974;
}

/* hero image styling */ 

#hero-image {
    clear: both;
}